.s28 {
  width: 28px;
  height: 28px;
}
.s20 {
  width: 20px;
  height: 20px;
}
.s16 {
  width: 16px;
  height: 16px;
}
.s14 {
  width: 14px;
  height: 14px;
}
.s12 {
  width: 12px;
  height: 12px;
}
.s10 {
  width: 10px;
  height: 10px;
}
.s8 {
  width: 8px;
  height: 8px;
}

.black {
  color: var(--black);
}
.orange {
  color: var(--orange);
}
.green {
  color: var(--green);
}
.white {
  color: jvar(--white);
}
.greyF4 {
  color: var(--greyF4);
}
.greyF3 {
  color: var(--greyF3);
}
.greyD9 {
  color: var(--greyD9);
}
.greyC4 {
  color: var(--greyC4);
}
.grey99 {
  color: var(--grey99);
}
.grey66 {
  color: var(--grey66);
}
