.actions {
  display: flex;
  width: 50px;
  justify-content: space-between;
}
.shareButton {
  width: 20px;
  height: 20px;
}

.saveButton {
  width: 20px;
  height: 20px;
}

@media all and (min-width: 1024px) {
  .actions {
    display: none;
  }

  .shareButton {
    display: none;
  }

  .saveButton {
    display: none;
  }
}
